/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Lato", sans-serif;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*  
    CUSTOM CODE STARTS HERE
    Colors
    Photo radius color : #eaeaea
    Photo box shadow: #c3c3c3

    Fonts
    Lato font-family: 'Lato', sans-serif;
*/

/* =================================================*/

body {
  margin: 0 auto;
  width: 75vw;
  height: 100vh;
}

header {
  position: relative;
}

header .headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  transition: all 100ms ease-in-out;
  padding: 0 1rem;
}

header .toggleHeader {
  background-color: #313639;
}

header .MenuContainer {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .showMenu {
  width: 2rem;
  position: absolute;
  z-index: 25;
  transition: all 100ms ease-in-out;
}

header .closeMenu {
  width: 1.6rem;
  position: absolute;
  z-index: -25;
  opacity: 0;
  transition: all 100ms ease-in-out;
}

header .invisible {
  opacity: 0;
  z-index: -25;
}

header .visible {
  opacity: 1;
  z-index: 25;
}

header .logoH1 {
  font-family: "Yesteryear", cursive;
  font-size: 2.5rem;
  font-weight: 300;
  transition: all 100ms ease-in-out;
}

header .toggleLogo {
  color: #e4e4e4;
}

nav ul {
  display: flex;
}

header .menuDropdown {
  position: absolute;
  width: 100%;
  z-index: -50;
  background-color: white;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

header .menuDropdown nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header .menuDropdown nav ul li {
  width: 100%;
}

header .menuDropdown nav ul li:nth-child(-n + 3) {
  border-top: 0.1px solid #313639;
  border-bottom: 0.1px solid #313639;
  border-left: 0.1px solid #313639;
}

header .menuDropdown nav ul li:nth-of-type(4) {
  border: 0.05px solid #313639;
}

header .menuDropdown nav ul li a {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  transition: all 100ms ease-in-out;
  cursor: pointer;
  color: black;
}

header .menuDropdown nav ul li a:hover {
  color: #e4e4e4;
  background-color: #313639;
}

header .menuDropdown nav ul li a:visited {
  color: none;
}

header .menuDropdown nav ul li a:link {
  color: none;
}

/* USER_PROFILE.PHP */

.profile_wrapper {
  position: relative;
}

.profile_intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.profile_main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.user_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.8;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.user_image:hover {
  opacity: 1.1;
}

.user_image_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.user_image_container:hover .user_image {
  transform: scale(1.1);
}

/* USER_LOGIN.PHP */

.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.login_h1 {
  font-family: "Yesteryear", cursive;
  font-weight: 300;
  font-size: 4.5em;
  margin-bottom: 1rem;
}

.form_login {
  display: flex;
  flex-flow: column;
}

.form_input {
  font-size: 1rem;
  line-height: 2em;
  width: 30rem;
  text-align: center;
}

.form_input:focus {
  outline: none;
}

.button_submit {
  font-size: 1rem;
  background-color: black;
  color: white;
  border: 0;
  text-transform: uppercase;
  height: 3rem;
}

/* USER_REGISTER.PHP */

.register_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.register_h1 {
  font-family: "Yesteryear", cursive;
  font-weight: 300;
  font-size: 4.5em;
  margin-bottom: 1rem;
}

.form_register {
  display: flex;
  flex-flow: column;
}

.login_register {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.register_button {
  margin-left: 1rem;
  color: black;
  text-decoration: none;
}

/* USER_CREATE_POST.PHP */

.createPostContainer {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.createPostH1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.imageUploadForm {
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.imageUploadTitle {
  font-size: 1.2rem;
  width: 100%;
}

.imageUploadDesc {
  resize: none;
  width: 100%;
  height: 10rem;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 0;
}

.imageUploadButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageUploadButtons .imageUploadButton {
  width: 10rem;
  height: 2.5rem;
  text-transform: uppercase;
  background-color: #e4e4e4;
  color: #313639;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
  border: 1px solid #313639;
  font-weight: bold;
}

.imageUploadButtons .imageUploadButton:hover {
  background-color: #313639;
  color: #e4e4e4;
  cursor: pointer;
}

/* USER_PROFILE.PHP/USER_DISCOVER.PHP POPUP MODAL */

.page_overlay {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 95;
  display: none;
}

.popup_modal {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50rem;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  background-color: white;
  -webkit-box-shadow: 19px 25px 21px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 19px 25px 21px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 19px 25px 21px 0px rgba(0, 0, 0, 0.5);
}

.popup_modal_show {
  visibility: visible;
}

.popup_modal_image {
  width: 50rem;
  height: 35rem;
  display: flex;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

.popup_modal_post_details {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.popup_modal_post_title {
  font-size: 1.3rem;
}

.popup_modal_post_desc {
  margin: 1rem 0;
  background-color: white;
  width: 100%;
  height: auto;
}

.popup_modal_post_comments_header {
  box-sizing: border-box;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
}

.comment_hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 0.3rem 0;
  width: 100%;
}

.popup_modal_post_comments {
  height: 8rem;
  margin-bottom: 1.5rem;
  overflow-y: auto;
}

.popup_modal_post_comments .comment {
  display: flex;
  margin: 1rem 0;
  padding: 0 0.25rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.comment_content {
  width: 85%;
  word-wrap: none;
}

.comment_date {
  word-wrap: none;
  white-space: nowrap;
  font-size: 0.8rem;
  color: #686f74;
}

.comment_input_container {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}

.comment_input {
  flex-grow: 2;
  font-size: 1rem;
  line-height: 2em;
  width: 30rem;
}

.comment_input:focus {
  outline: none;
}

.comment_submit {
  width: 10rem;
  height: 2.5rem;
  text-transform: uppercase;
  background-color: #e4e4e4;
  color: #313639;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
  border: 1px solid #313639;
  font-weight: bold;
}

.comment_submit:hover {
  background-color: #313639;
  color: #e4e4e4;
  cursor: pointer;
}

.comment_submit:focus {
  outline: none;
}

.popup_modal_more_options {
  margin: 1rem 1rem 0 0;
  position: absolute;
  width: 1.2rem;
  top: 0;
  right: 0;
  cursor: pointer;
}

.popup_modal_more_menu {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 3rem;
  right: 0;
  width: 5rem;
  transform: scale(1, 0);
  transition: transform 150ms ease-in-out;
  transform-origin: top;
}

.popup_modal_more_menu_show {
  transform: scale(1, 1);
}

.popup_modal_more_menu input {
  background-color: rgb(226, 226, 226);
  border: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.popup_modal_more_menu input:hover {
  background-color: #313639;
  color: white;
}

/* USER_DISCOVER.PHP */

.discover_wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.discover_header {
  font-size: 3rem;
  margin: 5rem 0;
  font-weight: bold;
}

.discover_images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  line-height: 0;
  grid-gap: 10px;
}

.discover_image_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.discover_image_container:hover .discover_image {
  transform: scale(1.1);
}

.discover_image {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  object-position: center;
  opacity: 0.8;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.discover_image:hover {
  opacity: 1.1;
}

/* USER_EDIT_POST.PHP */

.edit_post_image {
  width: 40rem;
  height: auto;
}

.editPostForm {
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.editPostTitle {
  font-size: 1.2rem;
  width: 100%;
}

.editPostDesc {
  resize: none;
  width: 100%;
  height: 10rem;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 0;
}

.editPostButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.editPostButtons .editPostButton {
  width: 10rem;
  height: 2.5rem;
  text-transform: uppercase;
  background-color: #e4e4e4;
  color: #313639;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
  border: 1px solid #313639;
  font-weight: bold;
}

.editPostButtons .editPostButton:nth-of-type(2) {
  margin-left: 0.5rem;
}

.editPostButtons .editPostButton:hover {
  background-color: #313639;
  color: #e4e4e4;
  cursor: pointer;
}
