/*  Colors
    Photo radius color : #eaeaea
    Photo box shadow: #c3c3c3

    Fonts
    Lato font-family: 'Lato', sans-serif;
    */

body {
  font-family: "Lato", sans-serif;
  position: relative;
  margin: 0 20rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
}

header .hamburger_menu_icon {
  width: 2.1rem;
}

.dropdown_menu {
  z-index: 100;
  position: absolute;
  background-color: white;
  transform: translateY(-60%);
  width: 100%;
  background-color: white;
  height: 25rem;
  transition: transform 150ms ease-in-out;
  display: flex;
  flex-flow: column;
}

.dropdown_menu_show {
  transform: translateY(40%);
}

.close_menu_icon {
  width: 2rem;
  align-self: flex-end;
  margin: 1.5rem 0 0;
}

/* header ul {
  display: flex;
}

header ul li {
  margin: 1rem;
  list-style: none;
} */

/* User uploaded photos */

.wrapper {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.profile_intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.profile_main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  grid-gap: 2rem;
}

.user_images {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.user_image_container {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user_image_overlay {
  position: absolute;
  background-color: black;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.user_image_overlay:hover {
  opacity: 0.6;
}
