/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*  
    CUSTOM CODE STARTS HERE
    Colors
    Photo radius color : #eaeaea
    Photo box shadow: #c3c3c3

    Fonts
    Lato font-family: 'Lato', sans-serif;
*/

/* =================================================*/

body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  width: 75vw;
  height: 100vh;
}

header {
  position: relative;
}

header .headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  transition: all 100ms ease-in-out;
  padding: 0 1rem;
}

header .toggleHeader {
  background-color: #313639;
}

header .MenuContainer {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .showMenu {
  width: 2rem;
  position: absolute;
  z-index: 25;
  transition: all 100ms ease-in-out;
}

header .closeMenu {
  width: 1.6rem;
  position: absolute;
  z-index: -25;
  opacity: 0;
  transition: all 100ms ease-in-out;
}

header .invisible {
  opacity: 0;
  z-index: -25;
}

header .visible {
  opacity: 1;
  z-index: 25;
}

header .logoH1 {
  font-family: "Yesteryear", cursive;
  font-size: 2.5rem;
  font-weight: 300;
  transition: all 100ms ease-in-out;
}

header .toggleLogo {
  color: #e4e4e4;
}

nav ul {
  display: flex;
}

header .menuDropdown {
  position: absolute;
  width: 100%;
  z-index: -50;
  background-color: white;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

header .menuDropdown nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header .menuDropdown nav ul li {
  width: 100%;
}

header .menuDropdown nav ul li:nth-child(-n + 3) {
  border-top: 0.1px solid #313639;
  border-bottom: 0.1px solid #313639;
  border-left: 0.1px solid #313639;
}

header .menuDropdown nav ul li:nth-of-type(4) {
  border: 0.05px solid #313639;
}

header .menuDropdown nav ul li a {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  transition: all 100ms ease-in-out;
  cursor: pointer;
  color: black;
}

header .menuDropdown nav ul li a:hover {
  color: #e4e4e4;
  background-color: #313639;
}

header .menuDropdown nav ul li a:visited {
  color: none;
}

header .menuDropdown nav ul li a:link {
  color: none;
}

/* User uploaded photos */

.wrapper {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.profile_intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.profile_main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  grid-gap: 2rem;
}

.user_images {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.user_image_container {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user_image_overlay {
  position: absolute;
  background-color: black;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.user_image_overlay:hover {
  opacity: 0.6;
}

/* USER_LOGIN.PHP */
.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.login_h1 {
  font-size: 3.5em;
  margin-bottom: 1rem;
}

.form_login {
  display: flex;
  flex-flow: column;
}

.form_input {
  font-size: 1rem;
  line-height: 2em;
  width: 30rem;
  text-align: center;
}

.form_input:focus {
  outline: none;
}

.form_input:hover {
}

.button_submit {
  font-size: 1rem;
  margin-top: 1rem;
  background-color: black;
  color: white;
  border: 0;
  text-transform: uppercase;
  height: 3rem;
}

/* USER_REGISTER.PHP */

.register_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.register_h1 {
  font-size: 3.5em;
  margin-bottom: 1rem;
}

.form_register {
  display: flex;
  flex-flow: column;
}

.login_register {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.register_button {
  margin-left: 1rem;
  color: black;
  text-decoration: none;
}

/* USER_CREATE_POST.PHP */

.createPostContainer {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.createPostH1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.imageUploadForm {
  width: 30rem;
  height: 20rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.imageUploadTitle {
  font-size: 1.2rem;
  width: 100%;
}

.imageUploadDesc {
  resize: none;
  width: 100%;
  height: 10rem;
  font-size: 1.2rem;
}

.imageUploadButtons {
  width: 102%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageUploadButtons .imageUploadButton {
  width: 7rem;
  height: 2rem;
  text-transform: uppercase;
  background-color: #e4e4e4;
  color: #313639;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
  border: 1px solid #313639;
}

.imageUploadButtons .imageUploadButton:hover {
  background-color: #313639;
  color: #e4e4e4;
  cursor: pointer;
}
